ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.pic{
  background-image:url("mlo.jpg");
  color: aliceblue;
  justify-content: center;
  content-visibility:auto;
  text-align: center;
}
.h1{
    justify-content: center;
}
.titles{
    justify-content: center;
    text-align: center;
    display: flex;
    align-content: center;
}

h1,h3{
    
    text-align: center;
    color: aliceblue;
}
h3{
  font-style: italic;
}
#cards{
  display: flex;
  justify-content: space-between;
  justify-content: flex;
  background-color:;
  color: aliceblue;
}
.one{
  display: flex;
  text-align: center;
}
.two{
  display: flex;
}
.three{
  display: flex;
}
.logo{
  display:inline-flexbox
}
.contacts.li{
  display: inline-block;
}
body{
  background-color: #111;
}
footer{
  color:whitesmoke;
  background-color:#333;
  display:flexbox;
}
li{
  color: aqua;
}
button{
  width:60px;
}
.logo{
  display:flex;
  justify-content: space-between;
  background-color: #333;
}
nav{
 background-color:aliceblue;
 height:35px;
 justify-content: space-between;
 display: flex;
 width:250px;
 border-radius: 10px;
 margin: 0.93cm;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-weight: 510;
}